@import "~bootstrap/scss/bootstrap";

.item {
  width: 150px;
}
.item {
  p {
    width: 70px;
  }
}
.button-section {
  width: 200px;
}
.button-section {
    h4 {
      margin-bottom: 0;
      padding: 6px 12px;
  }
}
